<h2>Edit the Porfolio</h2>

<%= form_for(@portfolio) do |form| %>
	<div class="field">
		<%= form.label :title %>
		<%= form.text_field :title %>

	</div>

	<div class="field">
		<%= form.label :subTitle %>
		<%= form.text_field :subTitle %>
	</div>

	<div class="field">
	    <%= form.label :body %>
		<%= form.text_area :body %>
	</div>

	<div class="actions">
		<%= form.submit %>
	</div>
<% end %>